*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: var(--secondary-bg);
}

:root {
    --primary-bg: #1e1f26;
    --secondary-bg: #2A2C36;
    --dark-blue: #232631;
    --text: #cacace;
    --accent-blue: #2F80ED;
    --accent-green: #27AE60;
    --table-h-bg: #252738;
    --table-bg: #252730;
    --head-text: #ffffff;
    --table-row-bg: #24262E;
    --table-row-hover-bg: #232631;
}

.logo {
    background-color: black;
    height: 50px;
    width: 100%;
    text-align: center;
}

.logo h1 {
    color: white;
    font-size: 24px;
    line-height: 50px;
    font-weight: bold;
}

.logo h1 span {
    color: var(--accent-blue);
}

#nav {
    background-color: var(--primary-bg);
    width: 100%;
    display: flex;
    justify-content: center;
}

#nav a {
    color: var(--text);
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-size:18px;
    font-weight: 700;
    border-bottom: 3px solid var(--accent-blue);
    transition: all 0.3s ease;
}

#nav a:hover {
    background-color: var(--secondary-bg);
    color: var(--accent-blue);
}

#account {
    background-color: var(--secondary-bg);
    display: flex;
    flex:auto;
}

.account-nav {
    background-color: var(--dark-blue);
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.account-nav #add-account {
    background-color: var(--accent-green);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.account-nav #add-account:hover {
    background-color: #1e8449;
}

.account-nav #account-list {
    width: 100%;
    padding: 15px 0;
    background-color: var(--primary-bg);
    border: none;
    font-size: medium;
    color: white;
    font-weight: 500;
}

#account-nav-mobile {
    display: none;
    height: 18px;
    width: 20px;
    background-color: transparent;
    color: var(--accent-blue);
    border: 1px solid var(--accent-blue);
    font-weight: bolder;
    border-radius: 10px;
}

#account-nav-mobile:hover {
    background-color: var(--primary-bg);
}

.account-main {
    flex: 1;
    padding: 20px;
    background-color: var(--secondary-bg);
}

.account-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

.account-stat {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.account-main .stat-card {
    background-color: var(--primary-bg);
    color: var(--text);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    margin-right: 10px;
}

.account-overview h2 {
    color: var(--text);
    margin-bottom: 10px;
}

.account-overview table {
    width: 100%;
    border-collapse: collapse;
}

.account-overview thead th, .account-overview td {
    padding: 10px;
    text-align: left;
    border-bottom: 3px solid var(--secondary-bg);
}

.account-overview thead th {
    background-color: var(--table-h-bg);
    color: var(--head-text);
}

.account-overview tbody tr {
    background-color: var(--table-row-bg);
    transition: background-color 0.3s ease;
}

.account-overview tbody tr:hover {
    background-color: var(--table-row-hover-bg);
}

.account-overview td {
    color: var(--text);
}

.account-overview .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-trade{
    background-color: var(--accent-blue);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 3px 10px;
    cursor: pointer;
    margin-right: 5px;
    flex: 1;
    transition: 0.2s ease;
}

#delete-account{
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 3px 10px;
    cursor: pointer;
    margin-right: 5px;
    flex: 1;
    transition: 0.2s ease;
}
#add-trade:hover,
#delete-account:hover {
    opacity: 0.6;
}

/******** modal ********/

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.form-holder {
    background-color: var(--dark-blue);
    width: 100%;
    max-width: 580px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.form-holder h3 {
    text-align: center;
    margin: 0.5rem 0;
    color: var(--text);
}

.form-holder form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.form-holder input, .form-holder button{
    width: 100%;
    padding: 8px 5px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

.form-holder input {
    background-color: var(--primary-bg);
    color: var(--text);
}

.form-holder button {
    background-color: var(--accent-blue);
    color: var(--head-text);
    font-weight: 700;
    transition: all 0.2s ease;
}

.form-holder button:hover {
    opacity: 0.5;
}

@media (max-width: 768px) {

    .account-main {
        padding: 10px;
    }

    .account-stat {
        flex-direction: column;
    }

    .account-main .stat-card {
        margin-right: 0;
        margin-bottom: 10px;
    }


    table,
    thead,
    tbody,
    tr,
    th,
    td {
        display: block;
    }

    thead {
        display: none;
    }

    tr {
        margin-bottom: 1rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
    }

    td {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
    }

    td::before {
        font-weight: bold;
    }

    td:nth-child(1)::before { content: "Account Name"; }
    td:nth-child(2)::before { content: "Account Id"; }
    td:nth-child(3)::before { content: "Balance"; }
    td:nth-child(4)::before { content: "Status"; }
    td:nth-child(5)::before { content: "Action"; }
}

@media (max-width: 600px) {
    .account-nav {
        display: none;
    }

    #account-nav-mobile {
        display: block;
    }
}
